/* Heading font */
/* Linkage: font-family: 'Share Tech Mono', monospace; */
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
/* Text font */
/* Linkage:  font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.heading{
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
}

.paragraph{
    font-family: 'Roboto', sans-serif;
}

.header{
	width: 100%;
	height: 65vh;
	background: #1b3386;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.head_center{
	width: 60%;
}

h1{
	line-height: 50px;
}

h2{
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: flex-start;
	position: relative;
	top: 175px;
}

.box_button{
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.button{
	width: 10%;
	height: 100%;
	background: #247dab;
	border-radius: 117px 117px 117px 117px;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.special_button{
	width: 55%;
	height: 100%;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 12%, rgba(36,125,171,1) 83%);
	border-radius: 117px;
	border-top-left-radius: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;	
	padding-left: 100px;
}

.what_we_do{
	width: 100%;
	height: 125vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 5%;
}

.box_for_blocks{
	width: 60%;
	height: 95%;
	margin-top: 5%;
}

.top_line{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bottom_line{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.box{
	width: 30%;
	height: 95%;
	background: purple;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.top_line .box:first-child {
	background: orange;
	color: white;
}

.top_line .box:first-child {
	background: orange;
	color: white;
}

.box_text p{
	line-height: 30px;
	font-size: 0.8em;
	padding-left: 20px;
	padding-right: 20px;
}

.box_text h2{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.top_line .box:nth-child(2n) {
	background: #b5adac;
	color: #636160;
}

.top_line .box:nth-child(3n) {
	background: white;
	border: 1px solid #969290;
	color: #969290;
}

.bottom_line .box:first-child {
	background: white;
	border: 1px solid #969290;
	color: #969290;
}

.bottom_line .box:nth-child(2) {
	background: #17124f;
	color: white;
}

.bottom_line .box:nth-child(3) {
	background: #ffc10a;
	color: white;
}

.service{
	width: 100%;
	height: 60vh;
	background: purple;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left_box{
	width: 29%;
	height: 80%;
	background: red;
}

.right_box{
	width: 29%;
	height: 80%;
	background: blue;
}